
.btn-full-rounded {
  width: 100%;
  border-radius: 6px;
  margin-left:0;
  margin-right:0;
}

.vertical-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.units .nav-link {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  min-width: 90px;
  margin: 2px;
  background-color: #10c0ec;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.16), 0 1px 6px 0 rgba(0,0,0,.12);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.16), 0 1px 6px 0 rgba(0,0,0,.12);
}

.units .nav-link.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  background-color: #2bbbad;
}

.units .nav-link.active {
  background-color: rgb(233, 233, 19) !important;
}

.units .nav-link.disabled {
  background-color: #616161!important;
  color: #000;
}
.section1 {
  text-align: center;
  margin-top: 60px;
}
.q-body {
  width: 40%;
  text-align: left;
  margin: 0 auto;
}
.custom-radio {
  padding: 5px 35px;
}
@media (max-width:479px) {
  .title{
    font-size:16px;
  }
}
