/* You can add global styles to this file, and also import other style files */
.logo-pic {
  width: 100px;
}
.main-content {
  min-height: 600px !important;
}
.ul.stepper li a .label {
  color: #000000 !important;
}

@media (max-width: 47.9375rem) {
  .stepper-horizontal {
    flex-direction: row;
  }
}